/*
* CSS file for horoscope.html
*/

@import "pastEntryCard.css";

/* New fonts for history and input labels */
@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pacifico';
    src: url('fonts/Pacifico-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ELEMENT SELECTORS */
/* wrapper over all components of the webpage */
body {
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    color: white;

    /* takes up the full page */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Video that plays when birthdate is submitted */
video {
    /* takes up the full page */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* The center body */
main {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;

    /* takes up the full page, but adjusts based on display size */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* ID SELECTORS */

/* Background image */
#vbgimg {
    /* takes up the full page */
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}


/* all the input related components. 'Birthday', 'Select a category', and 'Save' button. */
#user-form {
    /* positioning on the webpage based on bottom and left side */
    padding-bottom: 20px;
    margin-left: 25px;
    text-align: center;
}

/* in Output */
/* for the prompt that is displayed based on the input */
#output {
    /* positioning on the webpage, changes based on the webpage size but keeps itself centered */
    position: absolute;
    bottom: 4vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
    width: 80%;
}

/* Name of the corresponding horoscope */
#horoscope-title {
    position: fixed;
    /* Set the position property to relative */

    top: 60px;
    /* Adjust the top property to move the element vertically */

    font-family: 'pacifico';

    z-index: 9999; /*bring elem forward*/
}

/* Fortune prompt */
#horoscope-fortune {
    /* positioning in the 'output' box. text is centered at all times. */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    flex: 1;
    font-size: clamp(20px, 3vw, 30px);
    padding: 30px;
    padding-top: 50px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 17, 85, 0.75), rgba(0, 183, 255, 0.0));
    position: relative;
    top: 70px;
}

/* 'Birthday' label */
label[for="birthday"] {
    font-size: 32px;
    height: 40px;
    line-height: 40px;
}

/* 'Select a catergory' label */
label[for="category"] {
    font-size: 32px;
    height: 40px;
    line-height: 40px;
}

/* Birthday input */
/* look of the birthday display on the webpage. Transparent and white to make it match the color-scheme
    without blocking too much of the webpage */
input[type="date"] {
    background-color: transparent;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    font-size: 24px;
    margin-right: 35px;
    padding: 10px 18px;
}

/* Calendar display */
::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: 6px;
}

/* 'Select a category' default */
/* look of the category display on the webpage. Matches the visual of birthday input */
select {
    background-color: transparent;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    font-size: clamp(20px, 3vw, 40px);
    text-align: center;
}

/* Dropdown for select a category */
/* Couldn't do transparent background so white background(default) with black text */
select option {
    color: black;
}

/* Submit Button Styles */

/* save button */
input[type="button"] {
    position: absolute;
    transition: background-color 1s ease; /* change of color takes a second(ex. when you hover) */
    background-color: #1565C0;
    /*navy blue*/
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: clamp(15px, 1.5vw, 30px);
    margin-left: 320px;
    margin-top: -75px;
}

/* save button when hovered by mouse */
input[type="button"]:hover:enabled {
    background-color: #0D47A1;
    /*midnight blue*/
}

/* save button when clicked */
input[type="button"]:active:enabled {
    background-color: #2196F3;
    /*light blue*/
}

/* save button when 'tab' to */
input[type="button"]:focus:enabled {
    outline: none;
    box-shadow: 0 0 0 2px #1A237E;
    /*dark blue*/
}

/* save button when disabled */
input[type="button"]:disabled {
    opacity: 0.5;
}

/* positioning for date */
label[for="birthday"],
input[type="date"] select {
    margin-left: -340px;
}

/* positioning for category */
input[type="category"],
label[for="category"] select {
    margin-left: -340px;
}

/* 'Birthday' and 'Select a category' labels */
label {
    font-family: 'pacifico';
}

/* font for dropdown menu on category */
#category select{
    font-size: 24px;
    /* Adjust the font size as desired */
    padding: 10px 16px;
    /* Adjust the padding as desired */
}