@font-face {
    font-family: 'pacifico';
    src: url('fonts/Pacifico-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
}

body{
    background-image: url(../images/landingBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    font-family: 'pacifico', sans-serif;
}

@supports (background-image: url(../images/landingBackground.webp)) {
    html {
        background-image: url(../images/landingBackground.webp);
    }
}

#landing-title {
  font-size: 4em;
  font-weight: bolder;
  color: white;
  margin-top: 0.5em;
  /* adjust the spacing between the letters */
  letter-spacing: 0.25em;

}

#birthday-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#birthday-title {
    font-size: 2em;
    color: yellow;
    margin-top: 20px;
}

#birthday-input {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 40px;
    border: 2px solid yellow;
    height: 10px;
}

#category {
    font-size: 1.5em;
    color: greenyellow;
    /* outline the words */
    text-shadow: 2px 2px 4px black;
    margin-top: 20px;
}

/* Style for radio buttons */
input[type="radio"] {
    display: none; /* Hide the default radio button */
}

/* Style for button container */
.radio-button {
    display: inline-block;
    width: 6em;
    height: 6em;
    border-radius: 50%; /* Make it circular */
    cursor: pointer;
    text-align: center;
    line-height: 6rem;
    margin-right: 10px;
}

/* Styling for label */
.radio-button label {
    display: block;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
}

/* Styling for each radio button color */
#category-health + label {
    background-color: #007bff;
}

#category-health + label:hover {
    background-color: #016bdb; 
}

#category-career + label {
    background-color: purple; 
}

#category-career + label:hover {
    background-color: #5C005C;
}

#category-love + label {
    background-color: #dc3545;
}

#category-love + label:hover {
    background-color: #a42835;
}

/* Styling for checked state */
input[type="radio"]:checked + label {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.442) inset; /* Adds a border when checked */
}

#submit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-toggle {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 50px;
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    border: 1px solid #ccc;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-item a {
    text-decoration: none;
    color: white;
}

.dropdown-item:hover {
    background-color: black;
    transition: 0.7s;
}
