

article {
    background-color: #1a227eb7;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    display: grid;
    height: auto;
    row-gap: 5px;
    column-gap: 5px;
    padding: 16px;
    width: auto;
    grid-template: 
        [row1-start] "image horoscope category"[row1-end]
        [row2-start] "image birthday date"  [row2-end]
        [row3-start] "image message copy"  [row3-end]
        / 80px auto auto;
}

/* When hovering over a card, it changes color */
article:hover{
    background-color: #2835c3;
    color:black;
}

/* When hovering over a card, delete button appears */
article:hover .delete, article:hover .copy, article:hover .twitter-share-button {
    display: block;
}

/* When hovering over a card, date disappears */
article:hover .date {
    display: none;
}

/* When hovering over a card, category disappears */
article:hover .category {
    display: none;
}

.delete{
    display: none;
    border: none;
    background: none;
    grid-area: 1 / 4 / 3 / 5;
    /* grid-area: delete; */
    height: 35px;
    width: 35px;
    justify-self: end;
}

.copy {
    display: none;
}

button.copy {
    display: none;
    border: none;
    background: none;
    grid-area: 3 / 4 / 5 / 5;
    margin-right: -5px;
    height: 35px;
    width: 35px;
    justify-self: end;
}

img.copy{
    height: 25px;
    width: 25px;
    margin: auto;
}

.twitter-share-button {
    display: none;
}

a.twitter-share-button {
    display: none;
    border: none;
    background: none;
    grid-area: 3 / 4 / 5 / 5;
    margin-right: 40px;
    height: 35px;
    width: 35px;
    justify-self: end;
}

img.twitter {
    height: 25px;
    width: 25px;
    justify-self: center;
    margin-left: 5px;
    margin-top: 5px;
}

span.delete {
    font-size: 20px;
    color: white;
}

/* When hovering over delete button, changes color */
.delete:hover {
    color: lightgray;
}

.date {
    display: block;
    grid-area: date;
    justify-self: end;
    align-self: center;
    font-size: auto;
}

.category {
    display: block;
    grid-area: category;
    justify-self: end;
    align-self: center;
}

.birthday {
    grid-area: birthday;
    margin: 0px;
}

.horo {
    grid-area: image;
    max-width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.sign {
    grid-area: horoscope;
    margin: 0px;
    font-size: 150%;
}

.message {
    grid-area: message;
}